{{set . "title" "编辑OnlineUsers"}}
{{append . "moreScripts" "/self/public/js/online_users/online_users.js"}}
{{template "header.html" .}}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        编辑OnlineUser
        <div class="ibox-tools"></div>
    </div>
    <div class="ibox-content">
        <form action="{{url "OnlineUsers.Update" }}" method="POST" class="form-horizontal" id="online_users-edit">
        <input type="hidden" name="_method" value="PUT">
        {{hidden_field . "onlineUser.ID"}}
        {{template "OnlineUsers/edit_fields.html" .}}
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-info controls">修改</button>
                <a href="{{url "OnlineUsers.Index" }}" class="btn btn-info controls">取消</a>
            </div>
        </div>
        </form>
    </div>
</div>
{{template "footer.html" .}}