{{$raw := .}}{{set . "title" "OnlineUser"}}
{{if eq .RunMode "dev"}}
{{append . "moreScripts" "/public/js/plugins/bootbox/bootbox.js"}}
{{else}}
{{append . "moreScripts" "/public/js/plugins/bootbox/bootbox.min.js"}}
{{end}}
{{append . "moreScripts" "/self/public/js/online_users/online_users.js"}}
{{template "header.html" .}}
    {{template "OnlineUsers/quick-bar.html" .}}
    <table id="OnlineUserTable" class="table table-bordered table-striped table-highlight ">
      <thead>
      <tr><th><input type="checkbox" id="online_users-all-checker" /></th>
        
        {{table_column_title . "hostaddress" "用户 IP 地址"}}
        {{table_column_title . "macaddress" "用户 MAC 地址"}}
        {{table_column_title . "created_at" "登录时间"}}
        {{- if current_user_has_write_permission $raw "online_users"}}
        <th>操作</th>
        {{- end}}
      </tr>
      </thead>
      <tbody>
      {{- range $idx, $v := .onlineUsers}}
        <tr x-record-key="{{$v.ID}}">
            <td><input type="checkbox" class="online_users-row-checker" key="{{$v.ID}}" url="{{url "OnlineUsers.Edit" $v.ID}}"/></td>
            {{- if $.authAccounts}}
              {{- $rValue := index $.authAccounts $v.AuthAccountID}}
            {{- else}}
            <td></td>
            {{- end}}
            <td >{{$v.Hostaddress}}</td>
            <td >{{$v.Macaddress}}</td>
            <td >{{datetime $v.CreatedAt}}</td>
        {{- if current_user_has_write_permission $raw "online_users"}}
        <td>
          {{- if current_user_has_edit_permission $raw "online_users"}}
          <a href='{{url "OnlineUsers.Edit" $v.ID}}'><nobr>编辑</nobr></a>
          {{- end}}
          {{- if current_user_has_del_permission $raw "online_users"}}
            <form id='online_users-delete-{{$v.ID}}' action="{{url "OnlineUsers.Delete" $v.ID}}" method="POST" class="form-inline" role="form" style="display: inline;">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="id" value="{{$v.ID}}">
              <a href="javascript:document.getElementById('online_users-delete-{{$v.ID}}').submit()">
                <i class="icon-search"></i><nobr>删除</nobr>
              </a>
            </form>
          {{- end}}
          </td>
          {{- end}}
        </tr>
      {{- end}}
      <tbody>
    </table>
    {{template "paginator.html" .}}
{{template "footer.html" .}}