{{set . "title" "编辑AuthAccounts"}}
{{append . "moreScripts" "/self/public/js/auth_accounts/auth_accounts.js"}}
{{template "header.html" .}}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        编辑用户
        <div class="ibox-tools"></div>
    </div>
    <div class="ibox-content">
        <form action="{{url "AuthAccounts.Update" }}" method="POST" class="form-horizontal" id="auth_accounts-edit">
        <input type="hidden" name="_method" value="PUT">
        {{hidden_field . "authAccount.ID" | render}}
        {{template "AuthAccounts/edit_fields.html" .}}
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-info controls">修改</button>
                <a href="{{url "AuthAccounts.Index" }}" class="btn btn-info controls">取消</a>
            </div>
        </div>
        </form>
    </div>
</div>
{{template "footer.html" .}}