{{$raw := .}}{{set . "title" "用户管理"}}
{{- if eq .RunMode "dev"}}
{{- append . "moreScripts" "/public/js/plugins/bootbox/bootbox.js"}}
{{- else}}
{{- append . "moreScripts" "/public/js/plugins/bootbox/bootbox.min.js"}}
{{- end}}
{{- append . "moreScripts" "/self/public/js/auth_accounts/auth_accounts.js"}}
{{- template "header_box.html" .}}
    {{- template "AuthAccounts/quick-bar.html" .}}
    <table id="AuthAccountTable" class="table table-bordered table-striped table-highlight ">
      <thead>
      <tr><th><input type="checkbox" id="auth_accounts-all-checker" /></th>
        
        {{table_column_title . "manager_id" "领导1"}}
        {{table_column_title . "manager_id" "领导1#"}}
        {{table_column_title . "leader_id" "领导2"}}
        {{table_column_title . "leader_id" "领导2#"}}
        {{table_column_title . "name" "用户名"}}
        {{table_column_title . "email" "邮箱"}}
        {{table_column_title . "sex" "性别"}}
        {{table_column_title . "level" "级别"}}
        {{table_column_title . "description" "描述"}}
        {{table_column_title . "birthday" "生日"}}
        {{table_column_title . "created_at" "创建时间"}}
        {{table_column_title . "updated_at" "修改时间"}}
        {{- if current_user_has_write_permission $raw "auth_accounts"}}
        <th>操作</th>
        {{- end}}
      </tr>
      </thead>
      <tbody>{{- range $idx, $instance := .authAccounts}}{{$v := $instance.authaccount}}
        <tr x-record-key="{{$v.ID}}">
            <td><input type="checkbox" class="auth_accounts-row-checker" key="{{$v.ID}}" url="{{url "AuthAccounts.Edit" $v.ID}}"/></td>
              <td>{{$instance.authAccount.Name}}</td>
              <td>{{$instance.authAccount.ID}}</td>
              <td>{{$instance.authAccount.Name}}</td>
              <td>{{$instance.authAccount.ID}}</td>
            <td >
              {{-  $v.Name}}</td>
            <td >
              {{-  $v.Email}}</td>
            <td >
              {{- sex_format $v.Sex}}</td>
            <td >
              {{- userLevel_format $v.Level}}</td>
            <td >
              {{-  $v.Description}}</td>
            <td >
              {{- date $v.Birthday}}</td>
            <td >
              {{- datetime $v.CreatedAt}}</td>
            <td >
              {{- datetime $v.UpdatedAt}}</td>
        {{- if current_user_has_write_permission $raw "auth_accounts"}}
        <td>
          {{- if current_user_has_edit_permission $raw "auth_accounts"}}
          <a href='{{url "AuthAccounts.Edit" $v.ID}}'><nobr>编辑</nobr></a>
          {{- end}}
          {{- if current_user_has_del_permission $raw "auth_accounts"}}
            <form id='auth_accounts-delete-{{$v.ID}}' action="{{url "AuthAccounts.Delete" $v.ID}}" method="POST" class="form-inline" role="form" style="display: inline;">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="id" value="{{$v.ID}}">
              <a href="javascript:document.getElementById('auth_accounts-delete-{{$v.ID}}').submit()">
                <i class="icon-search"></i><nobr>删除</nobr>
              </a>
            </form>
          {{- end}}
          </td>
          {{- end}}
        </tr>
      {{- end}}
      </tbody>
    </table>
    {{- template "paginator.html" .}}
{{- template "footer_box.html" .}}